{% extends './_layout.html' %}

{% block content %}
<div class="container">
  <div class="pairingResult card">
    <h5 class="card-header">[[t("Secret_Santa_Pair_Title")]]</h5>
    <div class="card-body mx-auto animated fadeIn">
      {% for pair in pairings %}
      <div class="pair row card-group">
        {% for user in pair.users %}
        <div class="card">
          <div class="card-body text-center">
            <p><div class="avatar img-fluid" style="background-image: url('/images/[[user.userId]].jpg')" alt="card image"></div></p>
            <h5 class="card-title">[[user.displayName]]</h5>
            <p class="card-text">[[user.email]]</p>
            <p class="card-text"><small class="text-muted">[[user.phone]]</small></p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
