body { background-color: #f5f5f5; }
.pairingResult.card { margin-top: 20px; }
.pairingResult.card .card-body { padding: 20px; width:500px; }
.pair.row { margin-bottom: 1.25rem; }
.pair .card-body { width: 250px; }
.pair .card { align-items: center; }
.pair .card:first-child { border-right: none; }
.pair .card:first-child:after { 
  content: "\e036";
  font-family: 'Icons';
  font-size: 20px;
  margin:0px 0px 0px 10px;
  position: absolute;
  right: 0;
  top: 50%;
}
.pair .card:first-child {
  border-right: none;
}
.pair .card-body .avatar {
  width: 150px;
  height: 150px;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid lightgrey;
  border-radius: 50%;
  margin: 0 auto;
}